.devcontainer/
.github/
examples/

.DS_Store
.env*
.flaskenv
.envrc
.direnv
.env_file

*.pyc
*.pyo
__pycache__/
*.egg
*.egg-info/

env/
env*/
dist/
build/

.tox/
.cache/
.pytest_cache/
htmlcov/
.coverage
.coverage.*

.idea/
docs/_build/

**/_instruction*
